/bin/*.*
/bin/*.bin
/inc/*.o
/inc/*.bin
/inc/*.elf
/lib/*.o
/lib/*.bin
/lib/*.elf
/lib/*.o
/lib/*.bin
/lib/*.elf
/src/*.o
/src/*.bin
/src/*.elf
/src/*.log
/src/*.ini
/src/*.map
/src/*.lst
/sup/*.o
/sup/*.bin
/sup/*.elf
/sup/*.log
/sup/*.ini
/doc/*.o
/doc/*.bin
/doc/*.elf
/doc/*.html
